@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ff8040;
  --color-secondary: #1e293b;
  --color-accent: #10b981;
}

@layer base {
  body {
    @apply font-sans text-secondary bg-slate-50;
  }
}
